<% include ../partials/header %>

<div class="container">    
    <h1 class="project-head">Edit <%= task.name %></h1>
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div style="width:50%; margin:0 auto">
                <form action="/projects/<%= task.project %>/tasks/<%= task._id%>/?_method=PATCH" method="POST">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="task[name]" value="<%= task.name %>">
                </div>
                
                <div class="form-group">
                    <textarea class="form-control" rows="4" type="text" name="task[description]"><%= task.description %> </textarea>
                </div>
                <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input id="startDate" class="form-control" type="date" name="task[startDate]" value="<%= task.startDate.toString('yyyy-mm-dd') %>">
                </div>
                <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input id="endDate" class="form-control" type="date" name="task[endDate]" value="<%= task.endDate.toString('yyyy-mm-dd') %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/projects/<%= task.project %>">Go Back</a>
        </div>
    </div>
    
</div>
</div>

<% include ../partials/footer %>
