<h1>YOUR PROJECTS</h1>

<% projects.forEach((project) => { %>
    <div>
        <h2> <a href="/projects/<%=project._id%>"><%= project.name %></a></h2>
        <p><%= project.description %></p>
        <!-- use form to send a put request-->
        <a href="/projects/<%=project._id%>/edit">Edit</a>
        <!-- use forn to send a delete request-->
        <a href="/projects/<%=project._id%>/delete">Delete</a>
    </div>
<% }) %>