<% include ../partials/header %>

<h1 class="text-center"> <%= project.name %></h1>
<p> <%= project.description %></p>
<a href="/projects/<%= project._id %>/tasks">Add a new task</a>
<div class="container">
    <ul>
        <% project.tasks.forEach( (task) => { %>
            <li>
                <span>Name: <%= task.name %></span>
                <span>Description: <%= task.description %></span>
                <!-- <span><%= task.startDate %></span>
                <span><%= task.endDate %></span> -->
                <a href="/projects/<%= project._id %>/tasks/<%= task._id %>/edit">Edit</a>
                <form action="/projects/<%= project._id %>/tasks/<%= task._id %>?_method=DELETE" method="post">
                    <button>Delete</button>
                </form>
            </li>    
        <% }) %>
     </ul>
    </div>
    
    <% include ../partials/footer%>